/* Most of the custom css was just to add the required formatting (font, back color etc.) */
*{
  box-sizing: border-box;
}
h1, h2 {
  font-family: 'Georgia', Times, "Times New Roman", serif;
}
h1 {
  background-color: #4aaaa5;
  color: #ffffff;
  height: 85px;
  padding: 10px;
  margin-bottom: 23px;
  padding-bottom: 80px;
}
h2 {
  color: #4aaaa5;
  border-bottom: 3px solid;
  margin: 20px 10px 20px 0;
  border-color: #cccccc;
  padding-bottom: 17px;
  font-weight: bold;
}
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/qbkls.png");
  background-size: cover;
  margin: 0;
}
footer {
  height: 90px;
  padding-top: 50px;
  border-top: 10px solid;
  border-color: #4aaaa5;
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
form {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
label {
  color: #777777;
}
nav {
  background-color: #ffffff;
  border-bottom: 3px solid;
  border-color: #cccccc;
  /* height: auto; */
  height: 85px;
}
p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}
a {
  color: #777777;
}
a.nav-link.onPage {
  text-decoration: underline;
}
a.nav-link:hover {
  color: black;
}
a.nav-link.middle {
  border-color: #777777;
  border: 1px;
  border-style: none solid;
}
.box {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 960px;
  padding: 0 20px 30px 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 20px auto 20px auto;
  overflow: hidden;
}
.header-576 {
  display: none;
}
.panel {
  max-width: 100%;
  height:auto;
  display: block
  background-color: grey;
  position: relative;
  margin: 18px 36px 18px 0;
}
.panel-title {
  background-color: #4aaaa5;
  color: #ffffff;
  height: 60px;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 10%;
}
/* How I designed my sticky wrapper. Didn't actually make sense in this case to make
the footer it's own row. */
.sticky-wrap {
  min-height: calc(100vh - 161px);
}
/* In this particular case, I thought about using the bootstrap
btn class, but changing the color to meet original specs would require
me to rewrite so much of the classes (i.e. btn:hover, btn:focus, etc, etc),
that it was shorter to just use my previously writen class. */
.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 8px 25px;
    margin-top: 10px;
}
/* This stuff is still required since I didn't want to break up the picture and text
into rows and cols anymore, wouldn't have made sense.  */
#myName {
  margin:0;
  padding: 15px 15px 0 15px;
  /* height: 100%; */
}
#profileImg {
  float:left;
  width: 250px;
  height: auto;
  margin: 0 15px;
}

/* "navbar" dissapears past this width and no "xs" option existed for the navbar so
I opted to just write my own that covers widths below 576px.
I also wanted to change the formatting on the about page when it got that small with
the profile picture and the text. (It was basically just turning off float.) */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .title{
    text-align: center;
  }
  .container {
    margin-top:50px;
  }
  .navbar {
    display: none;
  }
  .header-576 {
    background-color: #ffffff;
    height: 120px;
    margin-bottom: 20px;
    display: block;
  }
  .header-576 > h1 {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top:0;
    padding-top: 10px;
  }
  .nav-container-576 {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 3px solid;
    border-color: #cccccc;
  }
  .panel {
    margin-left: 17%;
  }
  /* had to redefine nav since nav was a class used by bootstrap too many conflict came up
  adding my own rules on the existing class. */
  a.navi.active {
    text-decoration: underline;
  }
  a.navi.middle {
    border-color: #777777;
    border: 1px;
    border-style: none solid;
  }
  a.navi {
    padding: 0 10px;
    font-size: 20px;
    width: 10%;
    text-decoration: none;
    color: #777777;
  }
  a.navi:hover {
    color:red;
  }
  #profileImg {
    float:none;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
